

<title>网红游乐项目</title>
  
<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>订单管理</cite></a>
    <a><cite>已验记录</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-consume-front-formlist">
      <div class="layui-form-item">
       <div class="layui-inline">
            <label class="layui-form-label">支付状态</label>
            <div class="layui-input-block">
              <select name="payStatus">
                <option value="-1">全部</option>
                <option value="1">已支付</option>
                <option value="0">未支付</option>
              </select>
            </div>
        </div> 
           
        <div class="layui-inline">
          <label class="layui-form-label">分销商名称</label>
          <div class="layui-input-block">
            <script id="role" type="text/html" template lay-url="{{ layui.setter.remoteurl }}/system-merchant/merchants?size=100" lay-done="layui.data.data(d)">               
            <select name="merchantId" lay-verify="" lay-filter="LAY-user-admin-type">
                <option value="-1">全部商户</option>
                {{# layui.each(d.data,(i,row)=> { }}
                    <option value="{{ row.merchant_id }}" >{{ row.merchant_name  }}</option>
                {{# }); }}
              </select> 
            </script>
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">消费时间</label>
          <div class="layui-input-inline">
            <input type="text" class="layui-input" name="completionTime" id="createTime" placeholder=" - ">
          </div>
        </div>
        <div class="layui-inline">
          <button class="layui-btn layuiadmin-btn-consume" lay-submit lay-filter="LAY-consume-front-search">
            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
          </button>
        </div>
      </div>
    </div>
    
    <div class="layui-card-body">
      <table id="LAY-consume-manage" lay-filter="LAY-consume-manage"></table>
      <script type="text/html" id="imgTpl"> 
        <img style="display: inline-block;" src= {{ d.img }}>
      </script> 
       <script type="text/html" id="buttonTpl">
        {{#  if(d.consumeStatus == true){ }}
          <button class="layui-btn layui-btn-xs">已消费</button>
        {{#  } else { }}
          <button class="layui-btn layui-btn-danger layui-btn-xs">未消费</button>
        {{#  } }}
      </script>
      <script type="text/html" id="table-consume-webuser">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="view"><i class="layui-icon"></i>查看</a>
      </script>
    </div>
  </div>
</div>

<script>
layui.use('consume', layui.factory('consume')).use(['admin', 'table', 'laydate'], function(){
  var $ = layui.$
  ,admin = layui.admin
  ,view = layui.view
  ,table = layui.table
  ,setter = layui.setter
  ,laydate = layui.laydate
  ,form = layui.form;
  
  form.render(null, 'layadmin-consume-front-formlist');

  laydate.render({
    elem: '#createTime'
    ,type: 'datetime'
    ,range: true
  });
  
  //监听搜索
  form.on('submit(LAY-consume-front-search)', function(data){
    var field = data.field;
    
    //执行重载
    table.reload('LAY-consume-manage', {
      where: field
    });
  });   
});
</script>

<script type="text/javascript">
  layui.data.data = function(d){
    layui.use(['form','laytpl','jquery'],(form,laytpl,$)=>{  
    form.render();
  });
  };
</script>