
<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-row layui-col-space15">       
        <div class="layui-col-md12">
          <div class="layui-card">
            <div class="layui-card-header">基础统计</div>
            <div class="layui-card-body">

              <div class="layui-carousel layadmin-carousel layadmin-backlog">
                <div carousel-item>

                  <ul class="layui-row layui-col-space10" id="layui-input-base">
                    <script type="text/html" template lay-url="{{ layui.setter.remoteurl }}/order/base-order" lay-done="layui.data.done(d)">                  
                    <li class="layui-col-xs4">
                      <a class="layadmin-backlog-body">
                        <h3>销售金额</h3>
                        <p><cite>￥{{ d.currdata.realAmount }}</cite></p>    
                      </a>
                    </li>
                    <li class="layui-col-xs4">
                      <a class="layadmin-backlog-body">
                        <h3>购票数量</h3>
                        <p><cite>{{ d.currdata.payNum }}</cite></p>
                      </a>
                    </li>
                    <li class="layui-col-xs4">
                      <a class="layadmin-backlog-body">
                        <h3>消费数量</h3>
                        <p><cite>{{ d.currdata.consumeNum }}</cite></p>
                      </a>
                    </li>
                    <li class="layui-col-xs4">
                      <a class="layadmin-backlog-body">
                        <h3>总销售金额</h3>
                        <p><cite style="color: red">￥{{ d.data.realAmount }}</cite></p>
                      </a>
                    </li>
                    <li class="layui-col-xs4">
                      <a class="layadmin-backlog-body">
                        <h3>总购票数量</h3>
                        <p><cite style="color: red">{{ d.data.payNum }}</cite></p>
                      </a>
                    </li>
                    <li class="layui-col-xs4">
                      <a class="layadmin-backlog-body">
                        <h3>总消费数量</h3>
                        <p><cite style="color: red">{{ d.data.consumeNum }}</cite></p>
                      </a>
                    </li>                    
                  </script>
                  </ul>                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="layui-col-md12">
          <div class="layui-card">
            <div class="layui-card-header">数据概览</div>
            <div class="layui-card-body">
              
              <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-dataview">
                <div carousel-item id="LAY-index-dataview">
                  <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
              
            </div>
          </div>
          <!-- <div class="layui-card">
            <div class="layui-tab layui-tab-brief layadmin-latestData">
              <ul class="layui-tab-title">
                <li class="layui-this">今日热搜</li>
                <li>今日热帖</li>
              </ul>
              <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                  <table id="LAY-index-topSearch"></table>
                </div>
                <div class="layui-tab-item">
                  <table id="LAY-index-topCard"></table>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    
  </div>
</div>


<script>
layui.use('console', layui.factory('console'));
</script>

<script>  
  layui.data.done = function(d){
    console.log(d.currdata[0].realAmount);
    layui.use(['form','laytpl','jquery'],(form,laytpl,$)=>{  
    laytpl($('#role').html()).render(d,(html)=>{
      $('#layui-input-base').html(html);
    });
    form.render('select')
  });
  };
</script>