

<title>网红游乐项目</title>
  
<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>项目</cite></a>
    <a><cite>网红项目</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-product-front-formlist">
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">ID</label>
          <div class="layui-input-block">
            <input type="text" name="productId" placeholder="请输入" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">项目名称</label>
          <div class="layui-input-block">
            <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">商户名称</label>
          <div class="layui-input-block">
            <script id="role" type="text/html" template lay-url="{{ layui.setter.remoteurl }}/systemadmin/userlist" lay-done="layui.data.data(d)">               
            <select name="adminId" lay-verify="" lay-filter="LAY-user-admin-type">
                <option value="-1">全部商户</option>
                {{# layui.each(d.data,(i,row)=> { }}
                    <option value="{{ row.adminId }}" >{{ row.username  }}</option>
                {{# }); }}
              </select> 
            </script>
          </div>
        </div>
        <div class="layui-inline">
          <button class="layui-btn layuiadmin-btn-product" lay-submit lay-filter="LAY-product-front-search">
            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
          </button>
        </div>
      </div>
    </div>
    
    <div class="layui-card-body">
      <div style="padding-bottom: 10px;">
        <!-- <button class="layui-btn layuiadmin-btn-product" data-type="batchdel">删除</button> -->
        <button class="layui-btn layuiadmin-btn-product" data-type="add">添加</button>
      </div>
      
      <table id="LAY-product-manage" lay-filter="LAY-product-manage"></table>
      <script type="text/html" id="imgTpl"> 
        <img style="display: inline-block;" src= {{ d.img }}>
      </script> 
      <script type="text/html" id="table-product-webuser">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
      </script>
    </div>
  </div>
</div>

<script>
layui.use('product', layui.factory('product')).use(['admin', 'table'], function(){
  var $ = layui.$
  ,admin = layui.admin
  ,view = layui.view
  ,table = layui.table
  ,form = layui.form;
  
  form.render(null, 'layadmin-product-front-formlist');
  
  //监听搜索
  form.on('submit(LAY-product-front-search)', function(data){
    var field = data.field;
    
    //执行重载
    table.reload('LAY-product-manage', {
      where: field
    });
  });

  //事件
  var active = {
    batchdel: function(){
      var checkStatus = table.checkStatus('LAY-product-manage')
      ,checkData = checkStatus.data; //得到选中的数据

      if(checkData.length === 0){
        return layer.msg('请选择数据');
      }
      
      layer.prompt({
        formType: 1
        ,title: '敏感操作，请验证口令'
      }, function(value, index){
        layer.close(index);
        
        layer.confirm('确定删除吗？', function(index) {
          
          //执行 Ajax 后重载
          /*
          admin.req({
            url: 'xxx'
            //,……
          });
          */
          table.reload('LAY-user-manage');
          layer.msg('已删除');
        });
      });
    }
    ,add: function(){
      admin.popup({
        title: '添加网红项目'
        ,area: ['500px', '450px']
        ,id: 'LAY-popup-product-add'
        ,success: function(layero, index){
          view(this.id).render('product/product').done(function(){
            form.render(null, 'layuiadmin-form-product');
            //监听提交
            form.on('submit(LAY-product-back-submit)', function(data){
              var field = data.field; //获取提交的字段
              alert("添加...");
              //提交 Ajax 成功后，关闭当前弹层并重载表格
              //$.ajax({});
              layui.table.reload('LAY-product-manage'); //重载表格
              layer.close(index); //执行关闭 
            });
          });
        }
      });
    }
  };
  
  $('.layui-btn.layuiadmin-btn-product').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });
});
</script>

<script type="text/javascript">
  layui.data.data = function(d){
    layui.use(['form','laytpl','jquery'],(form,laytpl,$)=>{  
    form.render();
  });
  };
</script>