

<div class="layui-form" lay-filter="layuiadmin-form-product" style="padding: 20px 30px 0 0;">
  <div class="layui-form-item">
    <label class="layui-form-label">项目名称</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="text" name="name" value="{{ d.params.name || '' }}" lay-verify="required" placeholder="请输入项目名称" autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">票价</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="text" name="price" value="{{ d.params.price || '' }}" lay-verify="required|number" placeholder="￥" autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">游玩时长</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="text" name="playTime" value="{{ d.params.playTime || '' }}" lay-verify="required|number" placeholder="0" autocomplete="off" class="layui-input">
      </script>
    </div>
    <label class="layui-form-label">单位：分钟</label>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">已售数量</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="text" name="num" value="{{ d.params.salesNum || '' }}"  placeholder="0" autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">商户</label>
    <div class="layui-input-inline" lay-filter="layui-input-roles">
      <script type="text/html" id="roles" template lay-url="{{ layui.setter.remoteurl }}/systemadmin/userlist" lay-done="layui.data.roles(d)">                
      <select name="adminId" lay-verify="" lay-filter="LAY-user-adminrole-type">
          <option value="-1">全部用户</option>
          {{# layui.each(d.data,(i,row)=> { }}
              <option value="{{ row.adminId }}" {{# if(d.params.adminId == row.adminId){ }}selected{{# } }}>{{ row.username  }}</option>
          {{# }); }}
        </select> 
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">图片</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="text" name="img" value="{{ d.params.img || '' }}" lay-verify="required" placeholder="请上传图片" autocomplete="off" class="layui-input" >
      </script>
    </div>
    <button style="float: left;" type="button" class="layui-btn" id="layuiadmin-upload-product">上传图片</button> 
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">项目描述</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <textarea name="descr" lay-verify="" placeholder="请输入项目描述" autocomplete="off" class="layui-textarea">{{ d.params.descr || '' }}</textarea>
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">项目状态</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="checkbox" lay-filter="switch" name="enabled" {{ d.params.enabled ? 'checked' : '' }} lay-skin="switch" lay-text="上架|下架">
        <input type="hidden" name="productId" value="{{ d.params.productId }}">
      </script>
    </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label"></label>
    <div class="layui-input-inline">
      <input type="button" lay-submit lay-filter="LAY-product-back-submit" value="确认" class="layui-btn">
    </div>
  </div>
</div>

<script>
layui.use(['admin', 'form', 'upload'], function(){
  var $ = layui.$
  ,form = layui.form
  ,setter = layui.setter
  ,upload = layui.upload;
  form.render();
  //上传图片
  upload.render({
    elem: '#layuiadmin-upload-product'
    ,url: setter.remoteurl+'/upload/upload?access_token='+layui.data(setter.tableName).access_token
    ,where: {
      access_token: layui.data(setter.tableName).access_token,
    }
    ,accept: 'images'
    ,method: 'POST'
    ,acceptMime: 'image/*'
    ,done: function(res){
      $(this.item).prev("div").children("input").val(res.data.src)
    }
  });
});
 
</script>

<script type="text/javascript">
  layui.data.roles = function(d){
    layui.use(['form','laytpl','jquery'],(form,laytpl,$)=>{  
    form.render();
  });
  };
</script>