

<title>网红游乐项目</title>
  
<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>订单管理</cite></a>
    <a><cite>退单记录</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-refund-front-formlist">
      <div class="layui-form-item">
       <div class="layui-inline">
            <label class="layui-form-label">支付状态</label>
            <div class="layui-input-block">
              <select name="payStatus">
                <option value="-1">全部</option>
                <option value="1">已支付</option>
                <option value="0">未支付</option>
              </select>
            </div>
        </div> 
        <div class="layui-inline">
            <label class="layui-form-label">退款状态</label>
            <div class="layui-input-block">
              <select name="refundStatus">
                <option value="-1">全部</option>
                <option value="1">已退款</option>
                <option value="2">审核中</option>
                <option value="3">已拒绝</option>
                <option value="4">待处理</option>
              </select>
            </div>
        </div>     
        <div class="layui-inline">
          <label class="layui-form-label">商户名称</label>
          <div class="layui-input-block">
            <script id="role" type="text/html" template lay-url="{{ layui.setter.remoteurl }}/systemadmin/userlist" lay-done="layui.data.data(d)">               
            <select name="adminId" lay-verify="" lay-filter="LAY-user-admin-type">
                <option value="-1">全部商户</option>
                {{# layui.each(d.data,(i,row)=> { }}
                    <option value="{{ row.adminId }}" >{{ row.username  }}</option>
                {{# }); }}
              </select> 
            </script>
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">申请时间</label>
          <div class="layui-input-inline">
            <input type="text" class="layui-input" name="updateTime" id="createTime" placeholder=" - ">
          </div>
        </div>
        <div class="layui-inline">
          <button class="layui-btn layuiadmin-btn-refund" lay-submit lay-filter="LAY-refund-front-search">
            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
          </button>
        </div>
      </div>
    </div>
    
    <div class="layui-card-body">
      <table id="LAY-refund-manage" lay-filter="LAY-refund-manage"></table>
      <script type="text/html" id="imgTpl"> 
        <img style="display: inline-block;" src= {{ d.img }}>
      </script> 
      <script type="text/html" id="refundTpl">
        {{#  if(d.refundStatus == 1){ }}
          <button class="layui-btn layui-btn-xs">已退款</button>
        {{#  } else if(d.refundStatus == 2){ }}
           <button class="layui-btn layui-btn-danger layui-btn-xs">审核中</button>
        {{#  } else if(d.refundStatus == 3){ }}
           <button class="layui-btn layui-btn-warm layui-btn-xs">已拒绝</button>
        {{#  } else if(d.refundStatus == 4){ }}
           <button class="layui-btn layui-btn-danger layui-btn-xs">待处理</button>
        {{#  } else { }}
          <button class="layui-btn layui-btn-danger layui-btn-xs">未退款</button>
        {{#  } }}
      </script>
      <script type="text/html" id="table-refund-webuser">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>  
      </script>
    </div>
  </div>
</div>

<script>
layui.use('refund', layui.factory('refund')).use(['admin', 'table', 'laydate'], function(){
  var $ = layui.$
  ,admin = layui.admin
  ,view = layui.view
  ,table = layui.table
  ,setter = layui.setter
  ,laydate = layui.laydate
  ,form = layui.form;
  
  form.render(null, 'layadmin-refund-front-formlist');

  laydate.render({
    elem: '#createTime'
    ,type: 'datetime'
    ,range: true
  });
  
  //监听搜索
  form.on('submit(LAY-refund-front-search)', function(data){
    var field = data.field;
    
    //执行重载
    table.reload('LAY-refund-manage', {
      where: field
    });
  });   
});
</script>

<script type="text/javascript">
  layui.data.data = function(d){
    layui.use(['form','laytpl','jquery'],(form,laytpl,$)=>{  
    form.render();
  });
  };
</script>