

<title>网红游乐项目</title>
  
<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>物联设备管理</cite></a>
    <a><cite>设备列表</cite></a>
  </div>
</div>

<div class="layui-fluid">
  <div class="layui-card">
   
    
    <div class="layui-card-body">     

      <div style="padding-bottom: 10px;">
        <button class="layui-btn layui-btn-danger layuiadmin-btn-device" data-type="batchdel">删除</button>
        <button class="layui-btn layuiadmin-btn-device" data-type="add">添加</button>
      </div>
      
      <table id="LAY-device-manage" lay-filter="LAY-device-manage"></table>
      <script type="text/html" id="imgTpl"> 
        <img style="display: inline-block;" src= {{ d.img }}>
      </script> 
      <script type="text/html" id="buttonTpl">
        {{#  if(d.status == 0){ }}
          <button class="layui-btn layui-btn-xs">关机</button>
        {{#  } else if(d.status == 1){ }}
          <button class="layui-btn layui-btn-xs">开机</button>
        {{#  } else { }}
          <button class="layui-btn layui-btn-xs">损坏</button>
        {{#  } }}
      </script>
      <script type="text/html" id="table-ad-webuser">
        <a class="layui-btn layui-btn-xs" lay-event="open"><i class="layui-icon layui-icon-play"></i>开机</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="close"><i class="layui-icon layui-icon-close"></i>关机</a>
        <!-- <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="error"><i class="layui-icon layui-icon-delete"></i>损坏</a> -->
        <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-delete"></i>编辑</a>
        <!-- <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a> -->
      </script>
    </div>
  </div>
</div>

<script>
layui.use('device', layui.factory('device')).use(['admin', 'table'], function(){
  var $ = layui.$
  ,admin = layui.admin
  ,view = layui.view
  ,table = layui.table
  ,setter = layui.setter
  ,form = layui.form;

  form.render(null, 'layadmin-ad-front-formlist');
  
  //监听搜索
  form.on('submit(LAY-ad-front-search)', function(data){
    var field = data.field;
    
    //执行重载
    table.reload('LAY-device-manage', {
      where: field
    });
  });

  //事件
  var active = {
    batchdel: function(){
      var checkStatus = table.checkStatus('LAY-device-manage');
      checkData = checkStatus.data; //得到选中的数据

      if(checkData.length === 0){
        return layer.msg('请选择数据');
      }
      deList="";
      checkData.forEach(function(n,i){
        deList += n.id+",";
      });
      if (deList != "") {
        let len = deList.length;
        deList = deList.slice(0, len - 1);
      }
      
      layer.prompt({
        formType: 1
        ,title: '敏感操作，请验证口令'
      }, function(value, index){
        layer.close(index);
        
        layer.confirm('确定删除吗？', function(index) {
          field = [];
          field.id = deList;
          field.access_token = layui.data(setter.tableName).access_token;

          admin.req({
            url: setter.remoteurl+'/system-device/device'
            ,method: 'DELETE'
            ,data: {"device_ids": deList,"access_token": layui.data(setter.tableName).access_token}
            ,success: function(res){
              if (res.code == 0) {
                layer.msg("删除成功",{time: 1000,icon: 1},function(){
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                    window.parent.location.reload();
                });
              } else {
                layer.msg(res.msg, {icon: 5});
              }
            }
          }); 
          table.reload('LAY-device-manage');
          layer.msg('已删除');
        });
      });
    }
    ,add: function(){
      admin.popup({
        title: '添加设备'
        ,area: ['500px', '450px']
        ,id: 'LAY-popup-ad-add'
        ,success: function(layero, index){
          view(this.id).render('device/device').done(function(){
            form.render(null, 'layuiadmin-form-device');
            //监听提交
            form.on('submit(LAY-ad-back-submit)', function(data){
              var field = data.field; //获取提交的字段
              
              //提交 Ajax 成功后，关闭当前弹层并重载表格
              //$.ajax({});
              admin.req({
                url: setter.remoteurl+'/system-device/device'
                ,method: 'POST'
                ,data: field
                ,success: function(res){
                  if (res.code == 0) {
                    layer.msg("添加成功",{time: 1000,icon: 1},function(){
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        window.parent.location.reload();
                    });
                  } else {
                    layer.msg(res.msg, {icon: 5});
                  }
                }
              }); 

              layui.table.reload('LAY-device-manage'); //重载表格
              layer.close(index); //执行关闭 
            });
          });
        }
      });
    }
  };
  
  $('.layui-btn.layuiadmin-btn-device').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });
});
</script>

<script type="text/javascript">
  layui.data.data = function(d){
    layui.use(['form','laytpl','jquery'],(form,laytpl,$)=>{  
    form.render();
  });
  };
</script>