

<div class="layui-form" lay-filter="layuiadmin-form-role" style="padding: 20px 30px 0 0;">
  <div class="layui-form-item">
    <label class="layui-form-label">角色名</label>
    <!-- <div class="layui-input-block" id="layui-input-role" lay-filter="layui-input-role">
      <script type="text/html" id="role" template lay-url="{{ layui.setter.remoteurl }}/systemrole/roles" lay-type="post" lay-done="layui.data.done(d)">
        <select name="rolename" lay-verify="" lay-filter="LAY-user-adminrole-type">
            <option value="-1">全部角色</option>
            {{# layui.each(d.data,(i,row)=> { }}
                <option value="{{ row.roleId }}" {{# if(select == row.roleId){ }}selected{{# } }}>{{ row.roleName  }}</option>
            {{# }); }}
        </select> 
      </script>
    </div> -->
    <div class="layui-input-inline"> 
      <script type="text/html" template>
        <input type="text" name="roleName" value="{{ d.params.roleName || '' }}" autocomplete="off" class="layui-input"> 
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">权限范围</label>
    <script type="text/html" template>
      <script type="text/javascript">
        var rights = "{{d.params.rights}}";
      </script>
    </script>
    <div class="layui-input-block" id="layui-input-rights" lay-filter="layui-input-rights">
      
      <script type="text/html" template id="rights" template lay-url="{{ layui.setter.remoteurl }}/systemmenu/menus" lay-done="layui.data.rights(d)">
        {{#  layui.each(d.data, function(index, item){ }}
            <input type="checkbox" {{ rights.indexOf(item.title) != -1 ? 'checked' : '' }}  name="rights[{{item.menuId}}]" lay-skin="primary" title="{{ item.title }}">  
        {{# });}}
      </script>           
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">具体描述</label>
    <div class="layui-input-block">
      <script type="text/html" template>
        <textarea type="text" name="descr" lay-verify="required" autocomplete="off" class="layui-textarea">{{ d.params.descr || '' }}</textarea>
        <input type="hidden" name="roleId" value="{{ d.params.roleId }}">
      </script>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label"></label>
    <div class="layui-input-inline">
      <input type="button" lay-submit lay-filter="LAY-user-role-submit" value="确认" class="layui-btn">
    </div>
  </div>
</div>

<script>
layui.use('useradmin',layui.factory('useradmin')).use(['admin', 'form'], function(){
  var $ = layui.$
  ,form = layui.form
  ,select = layui.select;
  form.render();
});
</script>

<script type="text/javascript">
  var select = -1;
  layui.data.done = function(d){
    layui.use(['form','laytpl','jquery'],(form,laytpl,$)=>{  
    laytpl($('#role').html()).render(d,(html)=>{
      $('#layui-input-role').html(html);
    });
    form.render('select');
  });
  };
  layui.data.rights = function(d){
    layui.use(['form','laytpl','jquery'],(form,laytpl,$)=>{  
    laytpl($('#rights').html()).render(d,(html)=>{
      $('#layui-input-rights').html(html);
    });
    form.render();
  });
  };

  
</script>
